doctype 5
html
    head
        link(href="css/bootstrap.min.css", rel="stylesheet")
        link(href="css/app.css", rel="stylesheet")

    body
        .container-fluid
            h1 Aerial Event Photographer v.01
            .row-fluid    
                .well.span8
                    .row-fluid
                        canvas(width="640", height="360")#png-stream
                    .row-fluid
                        canvas(width="640", height="360")#png-still
         
                .span4 
                    h2 Controls
                    .well
                        h3 Drone
                        button.btn.btn-success.btn-large.btn-block#power On/Off
                        button.btn.btn-large.btn-block#stabilize Stabilize
                        .row-fluid.directional-controls
                            button.btn.btn-large.direction#up
                                i.icon-arrow-up
                            .row-fluid
                                .span6
                                    button.btn.btn-large.direction#left
                                        i.icon-arrow-left
                                .span6
                                    button.btn.btn-large.direction#right
                                        i.icon-arrow-right
                            .row-fuid
                                button.btn.btn-large.direction#down
                                    i.icon-arrow-down
                            .row-fuid.rotation
                                .span6
                                    button.btn.btn-large.direction-rotate#rotate-left
                                        i.icon-share-alt
                                .span6
                                    button.btn.btn-large.direction-rotate#rotate-right
                                        i.icon-share-alt
                    .well
                        h3 Camera
                         button.btn.btn-primary.btn-large.btn-block#still Take Picture &raquo;

        script(src="js/jquery-1.10.2.min.js")
        script(src="js/bootstrap.min.js")
        script(src="/socket.io/socket.io.js")
        script(src="js/lodash.min.js")
        script(src="js/app.js")
        script(src="js/Canvas.js")
        