doctype 5
html
	head
		link(href="css/bootstrap.min.css", rel="stylesheet")

	body
		.container-fuid
			.row-fluid
				h1= Aerial Event Photographer v.01
				.class="hero-unit"
				//png source goes here
				p class="btn btn-primary-btnlarge" Take Picture &raquo;

		script(src="http://code.jquery.com/jquery.js")
		script(src="js/bootstrap.min.js")
		script(src="/socket.io/socket.io.js")
