doctype 5
html
    head
        link(href="css/bootstrap.min.css", rel="stylesheet")
        link(href="css/app.css", rel="stylesheet")

    body
        .container-fluid
            .row-fluid
                h1 Aerial Event Photographer v.01
                .well
                    .row-fluid
                        canvas(width="640", height="360")#png-stream
                    .row-fluid
                        canvas(width="640", height="360")#png-still
         
                .well
                    button.btn.btn-primary.btn-large.btn-block#still Take Picture &raquo;
                    button.btn.btn-success.btn-large.btn-block#power On/Off
                    button.btn.btn-large.btn-block#stabalize Stabilize

        script(src="js/jquery-1.10.2.min.js")
        script(src="js/bootstrap.min.js")
        script(src="/socket.io/socket.io.js")
        script(src="js/lodash.min.js")
        script(src="js/app.js")
        script(src="js/Canvas.js")
        