canvas {
    display: block;
    border: 2px dashed #333;
    margin: 0 auto 20px;
}
.directional-controls {
    margin: 20px 0 0;
}
.directional-controls .row-fluid {
    margin: 10px 0;
}
.directional-controls .btn {
    display: block;
    margin: 0 auto;
}

.rotation {
    margin-top: 20px;
    overflow: hidden;
}
.rotation .btn {
    margin: 0;
}
.rotation #rotate-left {
    float: left;
}
.rotation #rotate-right {
    float: right;
}
.rotation #rotate-left i {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
}